@model Web_Application_Issue_Tracker.Models.IssueProjectViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Issues" asp-action="Index" method="get">
    <p>

        <select asp-for="IssueProject" asp-items="Model.Projects">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Issues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
